@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(./assets/cloud-blue-sky.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    text-align: center;
    font-size: 50px;
  }
  h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
  }
  #form {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
    input {
      padding: 1rem;
      border-radius: 25px;
      border: none;
      background-color: #fff;
      font-family: inherit;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      min-width: 300px;
      font-size: 1rem;

      &:focus {
        outline: none;
      }
    }
    #submit {
      padding: 1rem;
      border: solid 0.5px black;
      border-radius: 25px;
      background-color: transparent;
      font-family: inherit;
      background-color: rgba(39, 157, 195, 0.5);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      min-width: 120px;
      font-size: 1rem;
      margin-left: 1%;
      &:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
      }
    }
  }
}
.img-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 5%;
  max-width: fit-content;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10%;
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(39, 157, 195, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    border-radius: 30px;
    margin-bottom: 3%;
    min-width: 200px;
    max-width: 300px;
    flex-basis: 22%;
    /* Responsive */
    @media (max-width: 1200px) {
      flex-basis: 45%;
    }

    @media (max-width: 768px) {
      flex-basis: 100%;
      margin-bottom: 5%;
    }

    &__date {
    }
    &__picture {
      width: 100px;
      /* Responsive */
      @media (max-width: 768px) {
        width: 80px;
      }
      &__temperature {
      }
    }
  }
}
